<div id="footer">
	<div id="footer-map">
		<%= image_tag "map.jpg" %>
	</div>
	<div class="left">
		<p class="bold">โทร</p>
		<p>098766878</p>

		<br>

		<p class="bold">ที่อยู่</p>
		<p>123/456 หมู่ 55 บลา บลา บลา</p>
		
	</div>
</div>