<div id="head-menu" class='clearfix'>
  <ul class='left'>
    <li class='nav'>เฟอนิเจอร์ทั้งหมด</li>
    <li class='nav'>ห้อง</li>
    <li class='nav'>โปรโมชั่น</li>
    <li class='nav'>สถานที่ตั้ง</li>
    <li class='nav'>ถาม-ตอบ</li>
  </ul>
  <ul class='right'>
    <li class='nav'>ติดต่อเรา</li>
  </ul>
</div>