<div id="head-menu" class='clearfix'>
  <ul class='left'>
    <li class='nav'>All furniure</li>
    <li class='nav'>Rooms</li>
    <li class='nav'>Promotions</li>
  </ul>
  <ul class='right'>
    <li class='nav'>Contact us</li>
  </ul>
</div>