<div class="border-bottom">
  <p class="text-title bold left">เกี่ยวกับเรา</p>
  <!-- <hr>  -->
</div>
<br />
<br />
<div class="clearfix about">
  <p class='indent'>Wellsave ก่อตั้งเมื่อวันที่ 16 มกราคม 2538 เริ่มขายสินค้าของแบรนด์ WINNER FURNITURE และ INDEX BOFA  และ จนถึง ณ ปัจจุบัน 18 ปี มีตัวแทนจำหน่ายหลายแบรนด์ หลายบริษัทเข้ามาติดต่อ จน ณ ปัจจุบันมีสินค้าครบครันเพื่อตอบสนองความต้องการของลูกค้า อาทิ เช่น สินค้ายี่ห้อ SURE BON ที่นอน SATIN DURABED สินค้ามีทั้งเฟอร์นิเจอร์ภายในบ้าน และโซฟา และที่นอนสปริง ที่นอนยางพารา  และชุดห้องครัว สินค้าตกแต่งบ้าน </p>
  <p class='indent'> ลูกค้าสามารถเข้ามาเลือกสินค้าได้ในทุกระดับราคา มีทั้งราคาประหยัด ราคากลาง รูปแบบสินค้ามีหลายอย่างมีสินค้า แนวโมเดริ์น แนววินเทจ และ คลาสสิค  และสินค้า  ประเภทไม้จริง ทาง Wellsave ก็นำมาตอบสนองความต้องการลูกค้า</p>
</div>
