<div class="border-bottom">
  <p class="text-title bold left">ติดต่อเรา</p>
  <!-- <hr>  -->
</div>
<br />
<br />
<div class='contact_us'>
  <p>บริษัท เวลเซฟเฟอร์นิเจอร์ เซ็นเตอร์ จำกัด</p>
  <p>537 หมู่ 12 มิตรภาพ-เมืองเก่า ตำบลเมืองเก่า  อำเภอเมือง</p>
  <p>จังหวัด ขอนแก่น 40000</p>
  <br />
  <p><b>หมายเลขโทรศัพท์:</b> 043-225216-7, 086-4901566</p>
  <p><b>แฟ๊กซ์:</b> 043-225218</p>
  <p><b>E-Mail:</b> Wellsave234@hotmail.com</p>
  <p><b>เวลาเปิดทำการ:</b> 10.00 - 19.00 น. (ทุกวัน)</p>
</div>