@import "variables";

html, body {
  height: 100%;
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-size: 13px;
  background: #999;
}

h5 {
  margin: 0 !important;
}

.italic {
  font-style: italic;
}

.dropdown-menu, .nav-tabs .dropdown-menu {
  padding: 0;
  border-radius: 0;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
  border-width: 2px;
}

.nav-tabs {
  border-bottom: none;
}

.nav.nav-tabs > li {
  height: 34px;
}

.head-bg {
  background-color: #FEDD00;
  max-width: 930px;
  margin: 0 auto;
  padding: 0 20px;

  .page {
    height: 100%;
    max-width: 960px;
    width: 100%;    
    margin: 0 auto;
  }
}

#main-container {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #999;
  overflow: hidden;
  min-height: 76%;
}

#wrap {
  position: relative;
  max-width: 930px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto; 
  overflow: hidden;
  background-color: #FFF;
  padding: 0 20px;
}

.error {
  color: red;
}

.notice {
  color: blue;
}

#header {
  overflow: hidden;
  min-height: 70px;
  padding-top: 20px;

  ul {
    list-style: none;

    li {
      float: left;
      display: list-item;
      width: 30%;
    }

    li.head-search {
      position: relative;
    }
  }

  .logo, .global_search {
    display: inline-block;
    margin-bottom: 16px;


    img {
      border: 4px solid #FFFFFF;
      border-radius: 14px;
      height: 90px;
    }
  }

  .global_search {
    text-align: center;
    width: 50%;

    .btn {
      font-size: 12px;
    }
    .search-query {
      height: 21px;
    }
  }
}

.content {
  padding: 25px 0;
}

.clearfix {
  clear: both;
  margin: 0;
  padding: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

#head-menu {

  ul.nav {
    list-style: none;
    padding-left: 0;
    margin: 0;
    border: 0;

    li.dropdown {
      margin-bottom: 0px;
      font-size: 12px;
      font-weight: bold;
    }
  }

  ul.left {
    li {
      float: left;
    }
  }

  ul.right {
    li {
      float: right;
      padding-right: 0;
    }
  }
}

.footer-container {
  height: 8%;
  overflow: hidden;
  background-color: #999;
}

#sitemap {
  max-width: 930px;
  width: 100%;    
  margin: 0 auto;
  background-color: #FFF;
  min-height: 100px;
  padding: 20px;
}

#footer {
  max-width: 930px;
  width: 100%;    
  margin: 0 auto;
  overflow: hidden;
  background-color: #FEDD00;
  min-height: 100px;
  padding: 20px;
}

#footer-map {
  width: 60%;
  float: left;
  display: inline-block;
  margin-right: 30px;

  img {
    border: 1px solid #E4E4E4;
  }
}

.img-slider {
  height: 350px;
  width: 960px;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid #F2F2F2;
}

.carousel {
  box-shadow: 1px 1px 10px #888888;
}

.border-bottom {
  hr.separate-title {
    box-shadow: -5px -5px 20px #888888;
    margin: 0;
  }
}

p.text-title {
  text-align: center;
  margin: 0;
  color: #222222;
}

.promotions {
  padding: 25px 0;
  overflow: hidden;
}

.products {
  overflow: hidden;
}

img.img-best-sellers {
  width: 156px;
  height: 156px;
  overflow: hidden;
}

div.div-items-img {
  float: left;
  margin: 15px 44px 0 0;
  text-align: left;
}

.bold {
  font-weight: bold;
}

.clearfix {
  clear: both;
}

.product-details {
  padding-top: 20px;
  width: 100%;
  clear: both;

  p {
    margin: 0;
  }
}

.text-center {
  text-align: center;
}

.product-name {
  white-space: normal;
  padding-top: 3px;
  margin-bottom: 0;
  color: #222222;
  font-weight: bold;
}

.span4 a {
  text-decoration: none !important;
}

.corner-left {
  display: inline-block;
  color: black;
  font-weight: bold;
  position: absolute;
}

.line_through {
  text-decoration:line-through;
}

.red {
  color: red;
}

a:hover {
  text-decoration: none !important;
}

#head-menu {
  a {
    color: black;
    .caret {
      color: black;
    }
  }
}

.other-link {
  margin-left: -15px;

  ul {
    margin: 0;
  }
}

.other-link a {
  padding: 0 15px;
  border-right: 1px solid #B4B4E4;
  color: black;
}

a.border-none {
  border: 0 !important;
}

div.image_group {
  margin: 0 auto;
  text-align: center;
}

.view-more {
  margin-right: 5px;
}

a.thumbnail {
  color: #333333;
  min-height: 160px;
}

ul.main-thum li a.thumbnail:hover {
  border-color: #DDDDDD !important;
}

#show-products-photo {
  float: left; 
  width: 750px;
}
.promotion_item {
  display: inline-block;
  
  .promotion_label {
    text-align: center;
  }
}

.active {
  a {
    border-color: #FFFFFF !important;
    background-color: #FFFFFF !important;
  }
}

.promotion_thumb {
  text-align: center;
}

div.suggestion, .p-details {
    padding: 5px;
    margin-bottom: 5px;
    width: 170px;
    float: left;
    margin-left: 3px;

    p {
      margin: 0;
      white-space: normal;
    }
  }

.suggestion {
  color: #FFFFFF;
  min-height: 20px;
  background-color: #999999;
  border: 1px solid #999999;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.product-details {
  clear: both;
  display: block;
}

.product-items {
  width: 50%;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 8px 8px 8px 8px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;

  h5 {
    color: #666666;
    font-size: 13px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid #E5E5E5;

  }

  .photos img {
    max-width: 100px;
    height: 80px;
    max-height: 80px;
    margin-top: 5px;
  }

  .items {
    min-height: 110px;
  }

  hr {
    margin: 0;
  }

  td.pro-details {
    width: 100%;
    color: #7F7F7F;
    padding: 0 10px;
  }

  table {
    margin: 0 3%;
    width: 94%;

    tr {
      border-bottom: 1px solid #E5E5E5;
    }
  }

  a.more {
    color: #FF3300 !important;
  }

  p.fov-name {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .no-bottom-border {
    border-bottom: 0;

    .photos img {
      margin-bottom: 5px;
    }
  }

  .description {
  }
}

.wellsave-map {
  width: 47%;
  margin-left: 2.5%;

  .other-details {
    background: -moz-linear-gradient(center top , #FFFFFF 10%, #F6F6F6 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #E5E5E5;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 20px;
    padding: 14px;
    position: relative;
    width: 93%;
  }
}

.about {
  width: 70%;
}

.indent {
  text-indent: 30px;
}

#sub-footer {
  max-width: 930px;
  width: 100%;    
  margin: 0 auto;
  background-color: #FFF;
  min-height: 100px;
  padding: 20px;

  #home_sitemap {
    display: inline-block;
    width: 560px;

    .site-group {
      display: inline-block;
      width: 180px;
      vertical-align: top;

      label {
        cursor: default;
      }

      ul {
        list-style-type: none;
        margin: 0 0 10px 0;

        li {
          cursor: pointer;
          color: #666;
        }

        li:hover {
          color: #19B2C5;
        }
      }
    }
  }

  #home_delivery {
    vertical-align: top;
    display: inline-block;
    width: 360px;
  }
}

.reference {
  font-size: 9px;
}

/* Black and White theme */
img {
  /* IE */
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1) !important;
  /* Chrome, Safari */
  -webkit-filter: grayscale(1) !important;
  /* Firefox */
  filter: grayscale(1) !important;
}

body {
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
/* Black and White theme */