@import "variables";

html, body {
  height: 100%;
  width: 100%;
  font-size: 12px;
}

#main-container {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #FFF;
  overflow: hidden;
  min-height: 85%;
}

#wrap {
  position: relative;
  max-width: 959px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto; 
  overflow: hidden;
  background-color: #FFF;
  padding: 0 120px;
}

.error {
  color: red;
}

.notice {
  color: blue;
}

#header {
  overflow: hidden;
  background-color: grey;

  ul {
    list-style: none;

    li {
      float: left;
      display: list-item;
      width: 30%;
    }

    li.head-search {
      position: relative;
    }
  }
}

.page {
  max-width: 959px;
  width: 100%;
  padding: 0 120px;
}

.clearfix {
  clear: both;
  margin: 0;
  padding: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

#head-menu {
  overflow: hidden;
  background-color: azure;

  ul {
    list-style: none;

    li {
      padding-right: 20px;
    }
  }

  ul.left {
    li {
      float: left;
    }
  }

  ul.right {
    li {
      float: right;
    }
  }
}