@import "variables";

html, body {
  height: 100%;
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

h5 {
  margin: 0 !important;
}

.head-bg {
  border-bottom: 1px solid #E4E4E4;  
  background-color: #F5F5F5;

  .page {
    height: 100%;
    max-width: 960px;
    width: 100%;    
    margin: 0 auto;

    .other-link {
      margin-top: 10px;
    }
  }
}

#main-container {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #FFF;
  overflow: hidden;
  min-height: 70%;
}

#wrap {
  position: relative;
  max-width: 960px;
  width: 100%;
  min-height: 100%;
  margin: 0 auto; 
  overflow: hidden;
  background-color: #FFF;
  padding: 0 120px;
}

.error {
  color: red;
}

.notice {
  color: blue;
}

#header {
  overflow: hidden;
  height: 70px;
  padding-top: 20px;

  ul {
    list-style: none;

    li {
      float: left;
      display: list-item;
      width: 30%;
    }

    li.head-search {
      position: relative;
    }
  }

  .logo, .global_search {
    width: 30%;
    display: inline-block;
  }

  .global_search {
    text-align: center;

    .btn {
      font-size: 12px;
    }
    .search-query {
      height: 21px;
    }
  }
}

.content {
  padding: 25px 0;
}

.clearfix {
  clear: both;
  margin: 0;
  padding: 0;
}

.right {
  float: right;
}

.left {
  float: left;
}

#head-menu {

  ul.nav {
    list-style: none;
    padding-left: 0;
    margin: 0;
    border: 0;

    li.dropdown {
      margin-bottom: 0px;
      font-size: 12px;
      font-weight: bold;
    }
  }

  ul.left {
    li {
      float: left;
    }
  }

  ul.right {
    li {
      float: right;
      padding-right: 0;
    }
  }
}

.footer-container {
  min-height: 14%;
  overflow: hidden;
  border-top: 1px solid #0088CC;
  background-color: #F5F5F5;
}

#footer {
  max-width: 960px;
  width: 100%;    
  margin: 15px auto;
  overflow: hidden;
}

#footer-map {
  width: 60%;
  float: left;
  display: inline-block;
  margin-right: 30px;

  img {
    border: 1px solid #E4E4E4;
  }
}

.img-slider {
  height: 350px;
  width: 960px;
  overflow: hidden;
  border-radius: 2px;
  border: 1px solid #F2F2F2;
}

.carousel {
  box-shadow: 1px 1px 10px #888888;
}

.border-bottom {
  hr.separate-title {
    box-shadow: -5px -5px 20px #888888;
    margin: 0;
  }
}

p.text-title {
  text-align: center;
  margin: 0;
  color: #0088cc;
}

.promotions {
  padding: 25px 0;
  overflow: hidden;
}

.products {
  padding: 25px 0;
  overflow: hidden;
}

img.img-best-sellers {
  width: 156px;
  height: 156px;
  overflow: hidden;
}

div.div-items-img {
  float: left;
  margin: 15px 44px 0 0;
  text-align: left;
}

.bold {
  font-weight: bold;
}

.clearfix {
  clear: both;
}

.product-details {
  p {
    margin: 0;
  }
}

.text-center {
  text-align: center;
}

.product-name {
  white-space: normal;
  padding-top: 3px;
  margin-bottom: 0;
  color: black;
}

.span4 a {
  text-decoration: none !important;
}

.corner-left {
  display: inline-block;
  color: black;
  font-weight: bold;
  position: absolute;
}

.line_through {
  text-decoration:line-through;
}

.red {
  color: red;
}

a:hover {
  text-decoration: none !important;
}

#head-menu {
  a {
    color: black;
    .caret {
      color: black;
    }
  }
}

.other-link {
  margin-left: -15px;
}

.other-link a {
  padding: 0 15px;
  border-right: 1px solid #B4B4E4;
  color: black;
}

a.border-none {
  border: 0 !important;
}

div.image_group {
  width: 156px;
  height: 156px;
  margin: 0 auto;
}

.view-more {
  margin-right: 5px;
}

a.thumbnail {
  color: #333333;
}

ul.main-thum li a.thumbnail:hover {
  border-color: #DDDDDD !important;
}

.suggestion {
  width: 160px;
  float: left;
  margin-left: 3px;
}

#show-products-photo {
  float: left; 
  width: 750px;
}
.promotion_item {
  display: inline-block;
  
  .promotion_label {
    text-align: center;
  }
}

.active {
  a {
    border-color: #EEE #EEE #DDD !important;
    background-color: #EEE !important;
  }
}

.promotion_thumb {
  text-align: center;
}